@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-light-mode: #02022B;
  --background-light-mode: #FEFEFE;
  --btn-text-color-light-mode: #FEFEFE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-dark-mode: #E6F0FF;
    --background-dark-mode: #02022B;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground-light-mode);
  background: var(--background-light-mode);
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}