@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* foreground */
  --foreground-light-mode: #010120;
  --foreground-hover-light-mode: #1F1F32;

  /* cta */
  --cta-color-light-mode: #02022B;

  --light-foreground-color-light-mode: #FEFEFE;


  --responsive-menu-light-mode: #efefef;
  --divider-light-mode-color: rgba(2, 2, 43, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-dark-mode: #E6F0FF;
    --background-dark-mode: #02022B;
    --responsive-menu-dark-mode: #090126;

  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground-light-mode);
  background: var(--background-light-mode);
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}